textarea {
    min-height: 400px;
}

.mail-box {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.read {
    background-color: #ddd;
}

.unread {
    background-color: #fff; 
}

