{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md"></div> 
                <div class="col-md-10">
                    <div class="profile-header container">
                        <div class="row align-items-center">
                            <div class="col" style="text-align: right;">
                                <strong style="font-size: 50px;">{{ profile_user.username }}</strong> 
                            </div> 
                            <div class="col" style="text-align: center;">
                                <span>followers: </span><strong id="total_followers">{{ profile_user.total_followers }}</strong><span> following: </span><strong>{{ profile_user.total_following }}</strong>
                            </div>
                            <div class="col">
                                {% if user.is_authenticated %}
                                    {% if follow_button %}
                                        <button id="follow_button" class="btn btn-primary" data-user-id="{{ profile_user.id }}" data-following="{{ following }}">{% if following %}unfollow{% else %}follow{% endif %}</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% for post in page_obj  %}
                        <div class="post-box" style="margin-top: 10px;" data-post-id="{{ post.id }}">
                            <a href="{% url 'profile' post.poster_username.id %}"><strong>{{post.poster_username}}</strong></a> <span style="float: right;">{{post.created_at}}</span>
                            <hr>
                            <span class="post-content">{{post.content}}</span>
                            <textarea class="edit-content form-control" style="display: none;">{{ post.content }}</textarea>
                            <button class="save-edit btn btn-primary" style="display: none; margin-top: 10px;">Save</button>
                            <hr>
                            <span>❤️{{post.likes}}</span> 
                            {% if post.poster_username.id == user.id %}
                                <a class="edit-post" href="" style="float: right;">Edit</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <nav aria-label="pages">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md"></div> 
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}
