{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md"></div> 
                <div class="col-md-10">
                    <div class="profile-header">
                        <strong>{{user.id}}</strong><button></button>
                    </div>
                </div>
                <div class="col-md"></div> 
            </div>
        </div>
    </div>
{% endblock %}
