{% extends "auctions/layout.html" %}

{% block title %}Closed Auctions{% endblock %}

{% block body %}
    <h2>Closed Listings</h2>
    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}" class="custom-card-link">
            <div class="container my-3 custom-card">
                <div class="row">
                    <div class="col-12">
                        <strong>Title:</strong> {{ listing.title }}<br>
                        <strong>Description:</strong> {{ listing.description }}<br>
                        <strong>Greater Bid:</strong> ${{ listing.greater_bid|default:listing.starting_bid }}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if listing.url %}
                            <img src="{{ listing.url }}" class="img-fluid" alt="{{ listing.title }} Image">
                        {% else %}
                            <p class="text-muted">**Listing owner did not provide image**</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
