{% extends "auctions/layout.html" %}

{% block title %}New Listing{% endblock %}

{% block body %}
<div class="container-fluid text-center">
    <h1>Create a New Listing</h1>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col"></div>
            <div class="col-6">
                <input type="text" name="title" class="form-control" placeholder="Title" required>
            </div>
            <div class="col"></div>
        </div>

        <div class="row mb-3">
            <div class="col"></div>
            <div class="col-6">
                <textarea name="description" class="form-control" rows="5" placeholder="Description" required></textarea>
            </div>
            <div class="col"></div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" name="starting_bid" class="form-control" placeholder="Starting Bid" required>
                </div>
            </div>
            <div class="col">
                <input type="text" name="img_url" class="form-control" placeholder="Image URL">
            </div>
            <div class="col">
                <select name="category" class="form-control" multiple size="3" required>
                    <option value="" disabled>Category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Create Listing</button>
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>
{% endblock %}
