{% extends 'auctions/layout.html' %}

{% block title %}Watchlist{% endblock %}

{% block body %}

    <h2>Watchlist</h2>

    {% if watchlist_listings %}
        {% for watchlist_listing in watchlist_listings %}
        <a href="{% url 'listing' watchlist_listing.listing.id %}" class="custom-card-link">
            <div class="container my-3 custom-card">
                <div class="row">
                    <div class="col-12">
                        <strong>Title:</strong> {{ watchlist_listing.listing.title }}<br>
                        <strong>Description:</strong> {{ watchlist_listing.listing.description }}<br>
                        <strong>Greater Bid:</strong> ${{ watchlist_listing.listing.greater_bid|default:watchlist_listing.listing.starting_bid }}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if watchlist_listing.listing.url %}
                            <img src="{{ watchlist_listing.listing.url }}" class="img-fluid" alt="{{ watchlist_listing.listing.title }} Image">
                        {% else %}
                            <p class="text-muted">**Listing owner did not provide image**</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <p>Your watchlist is empty.</p>
    {% endif %}

{% endblock %}
